.result {
    width: 90%;
    height: 90%;
    background-color: #232626c4;
    border-radius: 20px;
    border: 1px solid #b0aeb6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-align: center;
    overflow-y: auto;
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
}

.result * {
    margin: auto;
}

.controlButtons {
    padding: 15px;
}

.controlButtons * {
    margin: 5px;
}

.likeBTN::after {
    content: 'Like';
}

.likedBTN::after {
    content: 'Liked';
}

.backBTN::after {
    content: 'Search';
}