.loading {
    width: 160px;
    height: 160px;
    background-color: transparent;
    border-radius: 100%;
    border: 2px dashed #fff;
    position: relative;
    animation: spin 12s linear infinite;
}

.loading::before {
    content: '';
    position: absolute;
    top: 27.5px;
    left: -8.5px;
    display: block;
    height: 30px;
    width: 30px;
    background: #838385;
    box-shadow: 0px 0px 10px 3px rgb(242, 248, 248);
    border-radius: 100%;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}