.fav {
    width: 90%;
    height: 90%;
    background-color: #232626c4;
    border-radius: 20px;
    border: 1px solid #b0aeb6;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: left;
    overflow-y: auto;
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
}

.favItem {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 60px;
    border-bottom: 1px solid #b0aeb6;
}

.favTitle {
    text-align: left;
}

.favDelete {
    text-align: right;
}

.icon {
    color: rgb(212, 83, 60);
    background-color: #fff;
    border: 1px solid #b0aeb6;
    border-radius: 5px;
}
.favTitle, .favDelete {
    cursor: pointer;
}

.middle {
    margin: auto auto 0 auto;
}